# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/
*.code-workspace

# Environment files
.env
*.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store

# Render & deployment
*.log
